# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs
src/main/resources/assets/almagest/textures_copy*
.history
.lh
.vscode
*.xlsx

# Files from Forge MDK
forge*changelog.txt
